.so-card{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: crosshair;
}

.so-card-img{
    filter: grayscale(100%);
}

.so-card-img:hover{
    filter: none;
    transition: .4s ease-in;
}